@model IEnumerable<ScrumApplication.Entity.Models.ProjectTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("CreateEpic", "Sprint", new { id = Model.FirstOrDefault().ProjectId})"><button style="margin-top:10px" class="btn btn-default">Create Task</button></a>
</p>

@if (Model.FirstOrDefault().Name != null)
{
    <h4 style="margin-top:20px">Active Tasks</h4>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Priority
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (!item.IsDone)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        <a href="@Url.Action("EditEpic", "Sprint", new { id = item.ProjectTaskId})" class="btn btn-default">Edit</a>
                        <a href="@Url.Action("CompleteEpic", "Sprint", new { id = item.ProjectTaskId })" class="btn btn-default">Complete</a>
                        <a href="@Url.Action("DeleteEpic", "Sprint", new { id = item.ProjectTaskId })" class="btn btn-default">Delete</a>
                        @if (item.SprintId == null)
                        {
                            <a href="@Url.Action("AddEpicToSprint", "Sprint", new { id = item.ProjectTaskId })" class="btn btn-default">Add To Current Sprint</a>

                        }
                        else
                        {
                            <span style="margin-left:20px;">Added</span>
                        }
                    </td>
                </tr>
            }

        }
    </table>

    <h4 style="margin-top:20px">Completed Tasks</h4>
    <table class="table">
        @foreach (var item in Model)
        {
            if (item.IsDone)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        <a href="@Url.Action("GreenEpic", "Sprint", new { id = item.ProjectTaskId })" class="btn btn-default">Green</a>
                        <a href="@Url.Action("DeleteEpic", "Sprint", new { id = item.ProjectTaskId })" class="btn btn-default">Delete</a>
                    </td>
                </tr>
            }

        }
    </table>

}

<div>
    <a href="@Url.Action("BackToList", "Sprint", new { id = Model.First().ProjectId }, Request.Url.Scheme)" style="margin-top:20px;" class="btn btn-default">Go To Sprint</a>
</div>
