@using ScrumApplication.Entity.Models
@using ScrumApplication.DAL.Repositories
@model  ProjectHomeViewModel
@*<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />*@
@{
    ViewBag.Title = "Index";
}

<h2>Project Backlogs</h2>

<div class="row col-md-12 col-sm-12">
    @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>*@

    @*Button Toolbar that includes Create Task, All Project Epics, Sprint and Sort buttons*@
    <div class="row col-md-12" style="margin-top:20px; margin-bottom:10px; align-items:center;">

        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn btn-group mr-2" role="group" aria-label="First group">
                <a href="@Url.Action("CreateBacklog", "Project", new { id = Model.ProjectId },
                            Request.Url.Scheme)" class="btn btn-success">Create Backlog</a>
                @if (TeamRepository.IsTeamManager(Model.TeamId))
                {
                    <a href="@Url.Action("EndSprint", "Project", new { projectId = Model.ProjectId, sprintNo = Model.ViewSprintNo , sortBy = Model.ViewSortBy},
                            Request.Url.Scheme)" class="btn btn-danger">End Sprint</a>
                }

            </div>
            <div class="btn btn-group mr-2" role="group" aria-label="First group">
                <a href="~/Project/IndexEpic/@Model.ProjectId" class="btn btn-primary">All Project Epics</a>
                <a href="@Url.Action("ProjectHome", "Project", new { id = Model.ProjectId },
                            Request.Url.Scheme)" class="btn btn-primary">Project Home</a>
            </div>
            <div class="btn btn-group mr-2" role="group" aria-label="Second group">
                @if (Model.ViewSprintNo == 0)
                {
                    <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)" class="btn btn-primary disabled">Sprints</a>
                }
                else
                {
                    <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)" class="btn btn-primary">Sprints</a>
                }

                @for (int i = 1; i <= Model.TotalSprintCount; i++)
                {
                    if (Model.ViewSprintNo == i)
                    {
                        <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sprintNo = i , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)"
                           class="btn btn-primary disabled">@i</a>
                    }
                    else
                    {
                        if (i < Model.CurrentSprintNo)
                        {
                            <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sprintNo = i , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)"
                               class="btn btn-secondary">@i</a>
                        }
                        else if (i == Model.CurrentSprintNo)
                        {
                            <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sprintNo = i , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)"
                               class="btn btn-success">@i</a>
                        }
                        else
                        {
                            <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.ProjectId , sprintNo = i , sortBy = Model.ViewSortBy },
                            Request.Url.Scheme)"
                               class="btn btn-primary">@i</a>
                        }
                    }
                }
            </div>
        </div>
        <div class="btn-group dropright">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
            </button>
            <div class="dropdown-menu">
                <!-- Dropdown menu links -->
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.PriorityAsc)"
                   class="dropdown-item">Priority Asc</a>
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.PriorityDesc)"
                   class="dropdown-item">Priority Desc</a>
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.SprintAsc)"
                   class="dropdown-item">Sprint Asc</a>
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.SprintDesc)"
                   class="dropdown-item">Sprint Desc</a>
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.StoryPointAsc)"
                   class="dropdown-item">Story Point Asc</a>
                <a href="~/Project/IndexBacklog?projectId=@Model.ProjectId&sprintNo=@Model.ViewSprintNo&sortBy=@((int)BacklogSort.StoryPointDesc)"
                   class="dropdown-item">Story Point Desc</a>
            </div>
        </div>
    </div>



    @if (Model.ProductBacklogs.FirstOrDefault().Name != null)
    {
        <div class="row col-md-12 col-sm-12">
            <div class="col-md-12">
                @*<a href="~/Sprint/CreateTask/" style="margin-top:20px" class="btn btn-primary">Create Task</a>*@
                @*<a href="~/Sprint/EditSprint/" style="margin-top:20px" class="btn btn-primary">Edit Sprint</a>*@
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Backlogs</th>
                            <th scope="col">Epic Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Sprint</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Story Point</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var backlog in Model.ProductBacklogs)
                        {
                            if (!backlog.Done)
                            {
                                <tr>
                                    <th scope="row">
                                        @if (TeamRepository.IsTeamManager(Model.TeamId))
                                        {
                                            <a href="@Url.Action("EditBacklog", "Project",
                                            new { id = backlog.ProductBacklogId , sprintNo = Model.ViewSprintNo , sortBy = Model.ViewSortBy },
                                        Request.Url.Scheme)">@backlog.Name</a>
                                        }
                                        else
                                        {
                                            @backlog.Name
                                        }

                                    </th>
                                    <td>@backlog.EpicName</td>
                                    <td>
                                        @if (@backlog.BacklogStatus.Equals(Status.Open))
                                        {
                                            <button class="btn btn-secondary btn-sm">Open</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Approved))
                                        {
                                            <button class="btn btn-primary btn-sm">Approved</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Developing))
                                        {
                                            <button class="btn btn-info btn-sm">Developing</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Completed))
                                        {
                                            <button class="btn btn-success btn-sm">Completed</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Tested))
                                        {
                                            <button class="btn btn-warning btn-sm">Tested</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Pending))
                                        {
                                            <button class="btn btn-danger btn-sm">Pending</button>
                                        }
                                        @if (@backlog.BacklogStatus.Equals(Status.Cancelled))
                                        {
                                            <button class="btn btn-secondary disabled btn-sm">Cancelled</button>
                                        }
                                    </td>
                                    <td>@backlog.SprintNo</td>
                                    <td>@backlog.Priority</td>
                                    <td>@backlog.StoryPoint</td>
                                    @*Assign edili tüm member'ları listele*@
                                    @if (ProjectRepository.IsUserAssigned(backlog.ProductBacklogId, null))
                                    {
                                        <td>
                                            <button type="button" class="btn btn-brown disabled btn-sm">
                                                <i class="fa fa-user-circle" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="@Url.Action("EditBacklog", "Project",
                                                    new { id = backlog.ProductBacklogId , sprintNo = Model.ViewSprintNo , sortBy = Model.ViewSortBy },
                                        Request.Url.Scheme)" class="btn btn-sm btn-danger"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                            </div>
                                            @*<a href="@Url.Action("EditBacklog", "Project",
                    new { id = backlog.ProductBacklogId },
        Request.Url.Scheme)" class="btn btn-sm btn-danger">Edit</a>*@
                                            <a href="@Url.Action("CompleteBacklog", "Project",
                                                    new { id = backlog.ProductBacklogId },
                                        Request.Url.Scheme)" class="btn btn-sm btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            @*<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <a href="@Url.Action("GiveIn", "Project", new { id = backlog.ProductBacklogId },
        Request.Url.Scheme)" class="btn btn-secondary">Give In</a>

                                        </div>
                                    </div>*@
                                        </td>

                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }


                                </tr>
                            }

                        }
                        @foreach (var backlog in Model.ProductBacklogs)
                        {
                            if (backlog.Done)
                            {
                                <tr class="table-active">
                                    <td>@backlog.Name</td>
                                    <td>@backlog.EpicName</td>
                                    <td>@backlog.BacklogStatus</td>
                                    <td>@backlog.SprintNo</td>
                                    <td>@backlog.Priority</td>
                                    <td>@backlog.StoryPoint</td>

                                    @if (TeamRepository.IsProjectManager(backlog.ProjectId))
                                    {
                                        <td>
                                            <a href="@Url.Action("GreenBacklog", "Project",
                                                        new { id = backlog.ProductBacklogId },
                                            Request.Url.Scheme)" class="btn btn-outline-success">Green</a>
                                        </td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                        <td></td>
                                    }



                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

