@using ScrumApplication.Entity.Models;
@using ScrumApplication.DAL.Repositories;
@model IEnumerable<Project>

@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>
    <p>
        <a href="@Url.Action("Create", "Project", new { teamId = Model.FirstOrDefault().TeamId })" class="btn btn-primary">Create Project</a>
    </p>


@if (Model.FirstOrDefault().Name != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Projects</th>
                <th scope="col">End Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.IsDone)
                {
                    <tr>
                        <th scope="row">
                            <a href="@Url.Action("ProjectHome", "Project", new { id = item.ProjectId })" >@item.Name</a>

                            
                        </th>
                        <td>
                            @item.EndDate.Day.@item.EndDate.Month.@item.EndDate.Year

                        </td>
                        <td>
                            @if (TeamRepository.IsProjectManager(item.ProjectId))
                            {
                                <a href="@Url.Action("Edit", "Project", new { id = item.ProjectId })" class="btn btn-danger">Edit</a>
                                <a href="@Url.Action("Complete", "Project", new { id = item.ProjectId })" class="btn btn-success">Complete</a>
                            }
                            @*<a href="@Url.Action("ProjectHome", "Project", new { id = item.ProjectId })" class="btn btn-primary">Project Home</a>*@
                            <a href="@Url.Action("IndexEpic", "Project", new { id = item.ProjectId })" class="btn btn-secondary">Epic Tasks</a>
                        </td>
                    </tr>
                }
            }
            @foreach (var item in Model)
            {
                if (item.IsDone)
                {
                    <tr class="table-active">
                        <th scope="row">
                            @item.Name
                        </th>
                        <td>
                            @item.EndDate
                            @if (item.EndDate < DateTime.Now)
                            {
                                <span> Project expired, please check project duration</span>
                            }
                        </td>
                        <td>
                            @if (TeamRepository.IsProjectManager(item.ProjectId))
                            {
                                <a href="@Url.Action("GreenProject", "Project", new { id = item.ProjectId })" class="btn btn-default">Mark as Uncompleted</a>
                            }
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}


