@using ScrumApplication.Entity.Models;
@using ScrumApplication.DAL.Repositories;
@model IEnumerable<Project>

@{
    ViewBag.Title = "Team Projects";
}

<h2>Team Projects</h2>
<p>
    @if (TeamRepository.IsProjectManager(Model.FirstOrDefault().ProjectId))
    {
        <a href="@Url.Action("Create", "Project", new { teamId = Model.FirstOrDefault().TeamId })" class="btn btn-primary">Create Project</a>
    }
</p>


@if (Model.FirstOrDefault().Name != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Projects</th>
                <th scope="col">End Date</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (!item.IsDone)
                {
                    <tr>
                        <th scope="row">
                            <a href="@Url.Action("ProjectHome", "Project", new { id = item.ProjectId })">@item.Name</a>
                            @if (TeamRepository.IsProjectManager(item.ProjectId))
                            {
                                <a href="@Url.Action("Edit", "Project", new { id = item.ProjectId })" style="margin-left:10px;"><i class="fa fa-edit" aria-hidden="true"></i></a>

                            }

                        </th>
                        <td>
                            @item.EndDate.Day.@item.EndDate.Month.@item.EndDate.Year

                        </td>
                        <td>
                            @if (TeamRepository.IsProjectManager(item.ProjectId))
                            {
                                <a href="@Url.Action("Complete", "Project", new { id = item.ProjectId })" onclick="return confirm('Are you sure you want to complete this project?');" class="btn btn-sm btn-success">Complete</a>
                            }
                            @*<a href="@Url.Action("ProjectHome", "Project", new { id = item.ProjectId })" class="btn btn-primary">Project Home</a>*@
                                <a href="@Url.Action("IndexBacklog", "Project", new { projectId = item.ProjectId },
                                Request.Url.Scheme)" class="btn btn-sm btn-primary">Backlogs</a>
                            <a href="@Url.Action("IndexEpic", "Project", new { id = item.ProjectId })" class="btn btn-sm btn-secondary">Epics</a>
                        </td>
                    </tr>
                }
            }
            @foreach (var item in Model)
            {
                if (item.IsDone)
                {
                    <tr class="table-active">
                        <th scope="row">
                            @item.Name
                        </th>
                        <td>
                            @item.EndDate
                            @if (item.EndDate < DateTime.Now)
                            {
                                <span> Project expired, please check project duration</span>
                            }
                        </td>
                        <td>
                            @if (TeamRepository.IsProjectManager(item.ProjectId))
                            {
                                <a href="@Url.Action("GreenProject", "Project", new { id = item.ProjectId })" onclick="return confirm('Are you sure you want to green this project?');" class="btn btn-sm btn-outline-success">Mark as Uncompleted</a>
                            }
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
}


