@using ScrumApplication.Entity.Models
@using ScrumApplication.DAL.Repositories
@model  ProjectViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Project Home</h2>
<div class="btn-toolbar" style="margin-top:20px; margin-bottom:30px;" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <a href="@Url.Action("Edit", "Project", new { id = Model.Project.ProjectId }, Request.Url.Scheme)" class="btn btn-danger">Edit</a>
        <a href="~/Project/IndexEpic/@Model.Project.ProjectId" class="btn btn-primary">All Project Epics</a>
        <a href="@Url.Action("IndexBacklog", "Project", new { projectId = Model.Project.ProjectId }, Request.Url.Scheme)" class="btn btn-primary">Backlogs</a>

    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <h4>Last Activities: </h4>
        @if (Model.ProjectActivities.FirstOrDefault() != null)
        {
        <div>
            @foreach (var activity in Model.ProjectActivities)
            {
                <div class="col-md-10">
                    <div class="alert alert-dismissible alert-light">
                        <p><strong>@activity.ActivityDescription</strong></p>
                        <div style="text-align:right;">
                            <i font-size:"11px;">Time:@activity.CreatedTime.Hour.@activity.CreatedTime.Minute - @activity.CreatedTime.Day.@activity.CreatedTime.Month.@activity.CreatedTime.Year</i>

                        </div>
                    </div>
                </div>
                @*<div class="card border-secondary mb-3" style="max-width: 60rem;">
                    <div class="card-header">@activity.CreatedTime.Minute.@activity.CreatedTime.Hour - @activity.CreatedTime.Day.@activity.CreatedTime.Month.@activity.CreatedTime.Year</div>
                    <div class="card-body">
                        <p class="card-text">@activity.ActivityDescription</p>
                    </div>
                </div>*@
            }
        </div>
        }
    </div>
    
    <div class="col-md-4">
        <h4>Project Team:</h4>
        <table class="table table-hover">
            <tbody>
                @foreach(var member in Model.ProjectTeamMembers)
                {
                <tr class="active">

                    @if (member.RoleCode < 3)
                    {
                        <td>@member.Name (Manager)</td>
                    }
                    else
                    {
                        <td>@member.Name</td>
                    }
                    <td>@member.Mail</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


