@using ScrumApplication.Entity.Models;
@using ScrumApplication.DAL.Repositories;
@model IEnumerable<Team>

@{
    ViewBag.Title = "Your Teams";
}

<h2>Your Teams</h2>

<p>
    <a href="@Url.Action("Create", "Team")" class="btn btn-primary">Create Team</a>
</p>

<table class="table table-hover">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.Name)
                @if (TeamRepository.IsTeamManager(item.TeamId))
                {
                    
                    <a href="@Url.Action("Edit", "Team", new { id = item.TeamId })"
                        style="margin-left:10px;"><i class="fa fa-edit" aria-hidden="true"></i></a>

                }
            </th>
            <td>
                <a href="@Url.Action("Select", "Team", new { id = item.TeamId })"
                   class="btn btn-sm btn-primary">Projects</a>
                <a href="@Url.Action("QuitFromTeam", "Team", new { teamId = item.TeamId })" onclick="return confirm('Are you sure you want to quit from  this team?');"
                   class="btn btn-sm btn-secondary">Quit</a>
            </td>
            </tr>
        }
    </tbody>
</table>
