@using ScrumApplication.Entity.Models;
@model List<Project>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .project-tbl thead th {
        border: 0
    }

    .project-tbl tr td:first-child {
        font-weight: bold;
    }
</style>

<div>
    <h2 style="text-align:center; margin-bottom:20px;">Your Active Projects</h2>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12" style="margin-bottom:15px">
        <table class="table table-hover project-tbl" style="border:0">
            <thead>
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Current Sprint</th>
                    <th scope="col">End Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td>@project.Name</td>
                        <td>@project.CurrentSprintNo</td>
                        <td>@project.EndDate.Day.@project.EndDate.Month.@project.EndDate.Year</td>
                        <td>
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group-sm mr-2" role="group" aria-label="First group">
                                    <a href="@Url.Action("ProjectHome", "Project", new { id = project.ProjectId },
                                Request.Url.Scheme)" class="btn btn-sm btn-light">Project Home</a>
                                    <a href="@Url.Action("IndexBacklog", "Project", new { id = project.ProjectId },
                                Request.Url.Scheme)" class="btn btn-sm btn-primary">Backlogs</a>
                                    <a href="@Url.Action("IndexEpic", "Project", new { id = project.ProjectId },
                                Request.Url.Scheme)" class="btn btn-sm btn-success">Epics</a>
                                </div>
                            </div>
                            </td>
                        </tr>
                 }
                </tbody>
            </table>
     </div>
</div>

